<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>

      <link href="webjars/bootstrap/5.0.1/css/bootstrap.min.css"rel="stylesheet">

      <script src="webjars/bootstrap/5.0.1/js/bootstrap.min.js"></script>
      <script src="webjars/jquery/3.6.0/dist/jquery.min.js"></script>
                 <link href="css/style.css" type="text/css"  rel="stylesheet">

</head>

<body>
<div class="container" style="background: #38adba; padding: 10px"> 
	<form method="post" th:action="@{/clean}">
		<button class="btn btn-primary mb-3" name="CleanMermory" type="submit">Clean Memory</button>

	</form>	
	
		<form method="post" th:action="@{/changeMemoryInterval}">
		Current Rate: <span th:text="${rate}" />
		<div class="mb-3">
		
		<label for="interval" class="form-label">Miliseconds:</label>
		<input type="text" class="form-control" style="width:100px" th:name="interval" required >
		</div>
		<input name="CleanMermoryByInterval" class="btn btn-primary mb-3" value="Set Rate"  type="submit">
	</form>	
	
<table class="table" style=" table-layout: fixed;  word-wrap:break-word">
    <thead>
        <tr>
            <th> ID </th>
            <th> Number of Primes </th>
            <th> Primes </th>
        </tr>
    </thead>
    <tbody>
	<tr th:if="${storedPrimes.empty}">
            <td colspan="2"> Memory is empty</td>
        </tr>
        <tr th:each="storedPrime : ${storedPrimes}">
            <td><span th:text="${storedPrime.id}"> ID </span></td>
            <td><span th:text="${storedPrime.numberOfPrimes}"> NumberOfPrimes </span></td>
            <td><span th:text="${storedPrime.primes}"> Primes </span></td>
        </tr>
    </tbody>
</table>

</div>
</body>

</html>